<h1>Flights</h1>

<%= form_tag flights_path, :method => "get" do %>
    <%= label_tag("Number of passengers:") %>
    <%= select_tag :number_of_passengers, options_for_select(1..4) %></br></br>
    <%= label_tag("From:") %>
    <%= select_tag :from_airport_id, options_for_select(@airport_options) %></br></br>
    <%= label_tag("To:") %>
    <%= select_tag :to_airport_id, options_for_select(@airport_options) %></br></br>
    <%= label_tag("Departure:") %>
    <%= select_tag :departure, options_for_select(@flight_dates) %></br></br>
    <%= submit_tag "Search flights" %>
<% end %>

<% if @searched_flights.any? %>
    <%# Loops back to current page for now (just testing params; will redirect to Booking form) %>
    <%= form_tag new_booking_url, :method => "get", :action => "new" do %>
        <% @searched_flights.each do |flight| %>
            <%= radio_button "booking", "flight_id", flight.id %> From <%= flight.from_airport.code %> to <%= flight.to_airport.code %> on <%= flight.departure %></br></br>
        <% end %>
        <%= hidden_field :booking, :number_of_passengers, :value => params[:number_of_passengers] %>
        <%= submit_tag "Select flight" %>
    <% end %>
<% elsif params[:passengers] %>
    <p>No flights meet your criteria. Please try again.</p>
<% end %>