<%# The displays below actually need to render in a form. I may need to make the form my form_for(booking) and have the fields_for within that iterating over each @passengers %>

<h2>Create a new booking</h2>

<%= form_for @booking do |f| %>
    <b>Flight departure:</b> <%= @flight.departure %></br></br>
    <b>Departing airport:</b> <%= @flight.from_airport.code %></br></br>
    <b>Arriving airport:</b> <%= @flight.to_airport.code %></br></br>
    <b>Flight ID:</b> <%= @flight.id %></br></br>
    <%= hidden_field(:booking, :flight_id, :value => @flight.id) %>
    <%= hidden_field(:booking, :number_of_passengers, :value => @number_of_passengers) %>
    <%= f.fields_for :passengers do |passenger_form| %>
        <b>Passenger <%= passenger_form.index + 1 %></b></br></br>
        <b>Name:</b> <%= passenger_form.text_field :name %></br></br>
        <b>Email:</b> <%= passenger_form.text_field :email %></br></br>
    <% end %>
    <%= f.submit %>
<% end %>