<%# The displays below actually need to render in a form. I may need to make the form my form_for(booking) and have the fields_for within that iterating over each @passengers %>

<h2>Create a new booking</h2>

<b><p>Flight departure:</p></b>
<%= @flight.departure %>

<b><p>Departing airport:</p></b>
<%= @flight.from_airport.code %>

<b><p>Arriving airport:</p></b>
<%= @flight.to_airport.code %>

<b><p>Flight ID:</p></b>
<%= @flight.id %></br></br>

<%= @passengers %>